//Colour setup
$primary-colour: #0b090a;
$primary-light: #181d16;
$primary-lightest: #1d241a;
$secondary-colour: #bc4b51;
$secondary-colour-light: #ffffff;
$secondary-colour-lighest: #f1f1e4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

@mixin transition {
  transition: all 0.3s ease-in-out;
}
@mixin hover {
  color: #bb696d;
}
